
<!--<div class="container">-->
<!--  <h2>Login Form</h2>-->
<!--  <form>-->
<!--    <div class="mb-3">-->
<!--      <label for="exampleInputEmail1" class="form-label">Username</label>-->
<!--      <input type="text" [(ngModel)]="login.username" name="username" class="form-control" id="exampleInputEmail1">-->

<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="exampleInputPassword1" class="form-label">Password</label>-->
<!--      <input type="password" [(ngModel)]="login.password" name="password" class="form-control" id="exampleInputPassword1">-->
<!--    </div>-->

<!--    <button type="submit" (click)="submit()" class="btn btn-primary">Submit</button>-->
<!--  </form>-->
<!--</div>-->


<!DOCTYPE html>
<html>
<head>
  <title>Slide Navbar</title>
  <link rel="stylesheet" type="text/css" href="">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
  <input type="checkbox" id="chk" aria-hidden="true">

  <div class="login">
<!--    <form *ngIf="loginForm" [formGroup]="loginForm">-->
    <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <label for="chk" aria-hidden="true">Login</label>
      <input type="email" name="email" formControlName="email" placeholder="Email" required="">
      <div *ngIf="email?.invalid && email?.touched" class="text-danger">
        <p *ngIf="email?.errors?.['required']">
          Email không được để trống
        </p>
        <p *ngIf="email?.errors?.['email']">
          Email không đúng định dạng
        </p>
      </div>
      <input type="password" name="password" formControlName="password" placeholder="Password" required="">
      <div *ngIf="password?.invalid && password?.touched" class="text-danger">
        <p *ngIf="password?.errors?.['required']">
          Password không được để trống
        </p>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>

<!--  <div class="signup">-->
<!--    <form>-->
<!--      <label for="chk" aria-hidden="true">Sign up</label>-->
<!--      <input type="text" name="txt" placeholder="User name" required="">-->
<!--      <input type="email" name="email" placeholder="Email" required="">-->
<!--      <input type="password" name="pswd" placeholder="Password" required="">-->
<!--      <button>Sign up</button>-->
<!--    </form>-->
<!--  </div>-->

<!--  <div class="login">-->
<!--    <form>-->
<!--      <label for="chk" aria-hidden="true">Login</label>-->
<!--      <input type="email" name="email" placeholder="Email" required="">-->
<!--      <input type="password" name="pswd" placeholder="Password" required="">-->
<!--      <button>Login</button>-->
<!--    </form>-->
<!--  </div>-->
</div>
</body>
</html>
